*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: --dark-purple;
  --secondary-color: --light-purple;
  --white:purple;
  --dark-purple: rgb(94, 4, 94);
  --light-purple: purple;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  color: var(--dark-purple);
}